In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [58]:
train_data.iloc[:,10:20]

,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt
0,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003
1,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976
2,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001
3,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915
4,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000
...,...,...,...,...,...,...,...,...,...,...
1455,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,5,1999
1456,Inside,Gtl,NWAmes,Norm,Norm,1Fam,1Story,6,6,1978
1457,Inside,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,9,1941
1458,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,5,6,1950
1459,Inside,Gtl,Edwards,Norm,Norm,1Fam,1Story,5,6,1965

In [26]:
train_data.iloc[:,11:20].isnull().any()

LandSlope       False
Neighborhood    False
Condition1      False
Condition2      False
BldgType        False
HouseStyle      False
OverallQual     False
OverallCond     False
YearBuilt       False
dtype: bool

In [27]:
test_data[test_data['GarageCars'].isnull()].iloc[:,60:80]

,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1116,NaN,NaN,NaN,NaN,NaN,Y,174,0,212,0,0,0,NaN,MnPrv,NaN,0,3,2007,WD,Alloca

In [28]:
test_data[test_data['GarageCars'] == 0].iloc[:,60:80]

,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
53,NaN,0.0,0.0,NaN,NaN,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,1,2010,Oth,Abnorml
71,NaN,0.0,0.0,NaN,NaN,P,51,0,135,0,0,0,NaN,MnPrv,NaN,0,5,2010,WD,Normal
79,NaN,0.0,0.0,NaN,NaN,N,0,18,18,0,0,0,NaN,NaN,NaN,0,6,2010,WD,Abnorml
92,NaN,0.0,0.0,NaN,NaN,N,344,0,0,0,168,0,NaN,NaN,NaN,0,5,2010,WD,Normal
96,NaN,0.0,0.0,NaN,NaN,N,0,0,168,0,0,0,NaN,NaN,NaN,0,2,2010,ConLD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1433,NaN,0.0,0.0,NaN,NaN,N,0,0,0,0,0,0,NaN,NaN,NaN,0,4,2006,WD,Normal
1449,NaN,0.0,0.0,NaN,NaN,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,4,2006,WD,Normal
1453,NaN,0.0,0.0,NaN,NaN,Y,0,34,0,0,0,0,NaN,GdPrv,NaN,0,6,2006,WD,Normal
1454,NaN,0.0,0.0,NaN,NaN,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1457,NaN,0.0,0.0,NaN,NaN,Y,80,32,0,0,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal

In [29]:
train_data['HouseStyle'] = train_data['HouseStyle'].apply(lambda x: x if x == "1Story" else "Not1Story")

array([ 856, 1262,  920,  961, 1145,  796, 1694, 1107, 1022, 1077, 1040,
       1182,  912, 1494, 1253,  854, 1004, 1296, 1114, 1339, 1158, 1108,
       1795, 1060, 1600,  900, 1704,  520,  649, 1228, 1234, 1700, 1561,
       1132, 1097, 1297, 1057, 1152, 1324, 1328,  884,  938, 1150, 1752,
       1518, 1656,  736,  955,  794,  816, 1842, 1360, 1425,  983,  860,
       1426,  780,  581, 1370,  902, 1143, 2207, 1479,  747, 1304, 2223,
        845,  885, 1086,  840,  526,  952, 1072, 1768,  682, 1337, 1563,
       1065,  804, 1301,  684,  612, 1013,  990, 1235,  964, 1260,  905,
        680, 1588,  960,  835, 1225, 1610,  977, 1535, 1226, 1053, 1047,
        789,  997, 1844, 1216,  774, 1282, 2259, 1436,  729, 1092, 1125,
       1699,  728,  988,  772, 1080, 1199, 1586,  958,  660, 1327, 1721,
       1682, 1214, 1959,  928,  864, 1734,  910, 1501, 1728,  970,  875,
        896,  969, 1710, 1252, 1200,  572,  991, 1392, 1232, 1572, 1541,
        882, 1149,  808, 1867, 1707, 1064, 1362, 1651, 2158, 1164, 2234,
        968,  769,  901, 1340,  936, 1217, 1224, 1593, 1549,  725, 1431,
        855, 1726,  929, 1713, 1121, 1279,  865,  848,  720, 1442, 1696,
       1100, 1180, 1212,  932,  689, 1236,  810, 1137, 1248, 1498, 1010,
        811, 2392,  630,  483, 1555, 1194, 1490,  894, 1414, 1014,  798,
       1566,  866,  889,  626, 1222, 1872,  908, 1375, 1444, 1306, 1625,
       1302, 1314, 1005, 1604,  963, 1382, 1482,  926,  764, 1422,  802,
       1052,  778, 1113, 1095, 1363, 1632, 1560, 2121, 1156, 1175, 1468,
       1575,  625, 1085,  858,  698, 1079, 1148, 1644, 1003,  975, 1041,
       1336, 1210, 1675, 2000, 1122, 1035,  861, 1944,  697,  972,  793,
       2036,  832,  716, 1153, 1088, 1372, 1472, 1249, 1136, 1553, 1163,
       1898,  803, 1719, 1383, 1445,  596, 1056, 1629, 1358,  943, 1619,
       1922, 1536, 1621, 1215,  993,  841, 1684,  536, 1478, 1848, 1869,
       1453,  616, 1192, 1167, 1142, 1352,  495,  790,  672, 1394, 1268,
       1287,  953, 1120,  752, 1319,  847,  904,  914, 1580, 1856, 1007,
       1026,  939,  784, 1269,  658, 1742,  788,  735, 1144,  876, 1112,
       1288, 1310, 1165,  806, 1620, 1166, 1071, 1050, 1276, 1028,  756,
       1344, 1602, 1470, 1196,  707,  907, 1208, 1412,  765,  827,  734,
        694, 2402, 1440, 1128, 1258,  933, 1689, 1888,  956,  679,  813,
       1533,  888,  786, 1242,  624, 1663,  833,  979,  575,  849, 1277,
       1634, 1502, 1161, 1976, 1652, 1493, 2069, 1718, 1131, 1850, 1792,
        916,  999, 1073, 1484, 1766,  886, 3228, 1133,  899, 1801, 1218,
       1368, 2020, 1378, 1244, 3138, 1266, 1476,  605, 2515, 1509,  751,
        334,  820,  880, 1159, 1601, 1838, 1680,  767,  664, 1377,  915,
        768,  825, 1069, 1717, 1126, 1006, 1048,  897, 1557, 1389,  996,
       1134, 1496,  846,  576,  877, 1320,  703, 1429, 2042, 1521,  989,
       2028,  838, 1473,  779,  770,  924, 1826, 1402, 1647, 1058,  927,
        600, 1186, 1940, 1029, 1032, 1299, 1054,  807, 1828, 1548,  980,
       1012, 1116, 1520, 1350, 1089, 1554, 1411,  800, 1567,  981, 1094,
       1051,  822,  755,  909, 2113,  525,  851, 1486, 1686, 1181, 2097,
       1454, 1465, 1679, 1437,  738, 1839,  792, 2046,  923, 1291, 1668,
       1195, 1190,  874,  551, 1419, 2444, 1238, 1067, 1391, 1800, 1264,
        372, 1824,  859, 1576, 1178, 1325,  971, 1698, 1776, 1616, 1146,
        948, 1349, 1464, 1720, 1038,  742,  757, 1506, 1836, 1690, 1220,
       1117, 1973, 1204, 1614, 1430, 1110, 1342,  966,  976, 1062, 1127,
       1285,  773, 1966, 1428, 1075, 1309, 1044,  686, 1661, 1008,  944,
       1489, 2084, 1434, 1160,  941, 1516, 1559, 1099, 1701, 1307, 1456,
        918, 1779,  702, 1512, 1039, 1002, 1646, 1547, 1036,  676, 1184,
       1462, 1155, 1090, 1187,  954,  892, 1709, 1712,  872, 2217, 1505,
       1068,  951, 2364, 1670, 1063, 1636, 1020, 1105, 1015, 1001,  546,
        480, 1229, 1272, 1316, 1617, 1098, 1788, 1466,  925, 1905, 1500,
       1207, 1188, 1381,  965, 1168,  561,  696, 1542,  824,  783,  673,
        869, 1241, 1118, 1407,  750,  691, 1574, 1504,  985, 1657, 1664,
       1082, 2898, 1687, 1654, 1055, 1803, 1532, 2524, 1733, 1992, 1771,
        930, 1526, 1091, 1523, 1364, 1130, 1096, 1338, 1103, 1154,  799,
        893,  829, 1240, 1459, 1251, 1247, 1390,  438,  950,  887, 1021,
       1552,  812, 1530,  974,  986, 1042, 1298, 1811, 1265, 1640, 1432,
        959, 1831, 1261, 1170, 2129,  818, 1124, 2411,  949, 1624,  831,
       1622,  842,  663,  879,  815, 1630, 1074, 2196, 1283, 1660, 1318,
       1211, 2136, 1138, 1702, 1507, 1361, 1024, 1141, 1173, 2076, 1140,
       1034, 2110, 1405,  760, 1987, 1104,  713, 2018, 1968, 1332,  935,
       1357,  661, 1724, 1573, 1582, 1659, 4692, 1246,  753, 1203, 1294,
       1902, 1274, 1787, 1061,  708, 1584, 1334,  693, 1284, 1172, 2156,
       2053,  992, 1078, 1980, 1281,  814, 2633, 1571,  984,  754, 2117,
        998, 1416, 1746, 1525, 1221,  741, 1569, 1223,  962, 1537, 1932,
       1423,  913, 1578, 2073, 1256])

In [31]:
train_data["BldgType"].unique()

array(['1Fam', '2fmCon', 'Duplex', 'TwnhsE', 'Twnhs'], dtype=object)

In [32]:
train_data["BsmtCond"].unique()

array(['TA', 'Gd', nan, 'Fa', 'Po'], dtype=object)

In [33]:
train_data["Heating"].unique()

array(['GasA', 'GasW', 'Grav', 'Wall', 'OthW', 'Floor'], dtype=object)

In [34]:
train_data["GarageFinish"].unique()

array(['RFn', 'Unf', 'Fin', nan], dtype=object)

In [35]:
train_data["BsmtHalfBath"].unique()

array([0, 1, 2])

In [60]:
test_data["YearBuilt"].unique()

array([1961, 1958, 1997, 1998, 1992, 1993, 1990, 1970, 1999, 1971, 1975,
       2009, 2005, 2003, 2002, 2006, 2004, 1920, 1974, 2000, 2010, 1967,
       1978, 1966, 1964, 1962, 1952, 1949, 1959, 1956, 1955, 1948, 1960,
       1963, 1900, 1957, 1938, 1923, 1890, 1910, 1922, 1950, 1925, 1939,
       1940, 1942, 1936, 1930, 1915, 1912, 1917, 1907, 1968, 1977, 1927,
       1947, 1954, 1987, 1996, 1972, 1945, 1924, 1931, 1941, 1994, 1989,
       1921, 1896, 1976, 2008, 1965, 1973, 1984, 1985, 1991, 1969, 1995,
       1980, 2007, 1986, 1981, 1951, 1953, 1935, 1902, 1946, 1934, 1983,
       1880, 1979, 2001, 1916, 1918, 1988, 1937, 1905, 1928, 1926, 1929,
       1914, 1895, 1982, 1879, 1901, 1919, 1932])

In [37]:
train_data["Fireplaces"].unique()

array([0, 1, 2, 3])

In [38]:
np.log1p(train_data["SalePrice"]).min()

10.460270761075149